@tailwind base;
@tailwind components;
@tailwind utilities;

/**********************************************************
 * TYPOGRAPHY
 **********************************************************/

@layer base {
	/* KOSUGI MARU REGULAR (logo) */
	@font-face {
		font-family: 'KosugiMaru-Regular';
		src: url('/fonts/KosugiMaru-Regular.ttf') format('truetype');
	}

	/* PALENT (headings) */
	@font-face {
		font-family: 'Palent-Regular';
		src: url('/fonts/PalentRegular.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Palent-Italic';
		src: url('/fonts/PalentItal-Italic.ttf') format('truetype');
	}

	/* ZEN OLD MINCHO */
	@font-face {
		font-family: 'ZenOldMincho-Regular';
		src: url('/fonts/ZenOldMincho-Regular.ttf') format('truetype');
	}
	@font-face {
		font-family: 'ZenOldMincho-Bold';
		src: url('/fonts/ZenOldMincho-Bold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'ZenOldMincho-Black';
		src: url('/fonts/ZenOldMincho-Black.ttf') format('truetype');
	}
}

/**********************************************************
 * COLORS
 **********************************************************/

/* LIGHT WHITE */
.text-light-white {
	color: #f3f3f3;
}
.bg-light-white {
	background-color: #f3f3f3;
}

/* MEDIUM GREY */
.text-medium-grey {
	color: #d0cbbe;
}
.bg-medium-grey {
	background-color: #d0cbbe;
}

/* OLIVE GREEN */
.text-olive-green {
	color: #574a10;
}
.bg-olive-green {
	background-color: #574a10;
}

/* YELLOW */
.text-yellow {
	color: #ffff00;
}
.bg-yellow {
	background-color: #ffff00;
}

/* PEACH */
.text-peach {
	color: #ffd486;
}
.bg-peach {
	background-color: #ffd486;
}

/* DARK GREY */
.text-dark-grey {
	color: #494636;
}
.bg-dark-grey {
	background-color: #494636;
}

/* BLACK */
.text-black {
	color: #000000;
}
.bg-black {
	background-color: #000000;
}

/* ORANGE */
.text-orange {
	color: #ff9800;
}
.bg-orange {
	background-color: #ff9800;
}


.img-container > img {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
}

.dotted-line {
	position: relative;
	display: block;
	margin: 0 auto; padding: 0;
}
.img-container.dotted-line > img {
	position: relative;
	left: 20%;
	width: 60%;
}

.section {
	position: relative;
	width: 100%; min-height: 200px;
	margin: 0 auto;
	margin-top: 160px; margin-bottom: 120px;
	padding-left: 22.5%;
	padding-right: 22.5%;
}

.header {
	font-family: 'Palent-Regular';
}
.sub-header {
	font-family: 'Palent-Italic';
}
.body {
	font-family: 'ZenOldMincho-Regular';
}
ul.body {
	line-height: 23px;
}

.section h1.header {
	font-size: 4em;
	line-height: 59px;
}

.section h5.sub-header {
	font-size: 1.1em;
	line-height: 20px;
}


#sugoi {
	position: absolute;
	z-index: -10;
	width: 100%; min-height: calc(100vh);
	background-color: #f4f4f4;
}

/**********************************************************
 * HERO SECTION
 **********************************************************/

/* NAV BAR */
#sugoi #nav-btn {
	position: relative;
	width: 100%; height: 66px;
	padding: 7px;
	margin: 0;
}

/* NAV MENU & PLACEHOLDER IMG */
#sugoi #hero-menu {
	position: relative;
	width: 100%; height: 500px;
	margin-top: 20px;
}

#sugoi #hero-menu .closed {
	display: block;
	width: 100%; height: 500px;
	overflow: hidden;
}

/**********************************************************
 * BY LOGIK SECTION
 **********************************************************/

#bylogik h5#location {
	margin-top: 50px;
}

#bylogik h5#details {
	margin-top: 22px;
}

#bylogik > a {
	position: relative;
	margin-bottom: 15px;
	width: 340px; height: 35px;
	padding: 3px;
	display: block;
	text-align: center;
	font-size: 1.15em;
	font-family: 'KosugiMaru-Regular';
	border: solid 1px #574a10;
	border-radius: 10px;
}
#bylogik > a#mint {
	margin-top: 45px;
}
#bylogik > a#digital-swag {
	margin-bottom: 0;
}

#bylogik #logik-flowers {
	overflow: hidden;
	position: absolute;
	z-index: -1;
	width: 299px; height: 350px;
	top: 240px; left: 580px;
	border: solid 1px #574a10;
	border-bottom-left-radius: 11em;
	border-bottom-right-radius: 8em;
	border-top-left-radius: 10em;
	border-top-right-radius: 9em;
}

#bylogik #logik-flowers > img {

}


















/* @layer components {
	.roadmap-card {
		@apply rounded-xl bg-gray-roadmap-bg w-[250px] h-[250px] m-auto my-6 flex flex-col;
	}
	.roadmap-heading {
		@apply bg-gray-roadmap-heading py-3 rounded-t-xl;
	}
	.roadmap-heading-text {
		@apply text-xl text-yellow-main uppercase font-bold tracking-wide;
	}
	.roadmap-divider {
		@apply w-full h-2 bg-gray-roadmap-divider rounded-b-full;
	}
	.roadmap-content {
		max-width: 200px;
		margin: auto auto;
	}
}


*/