@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";

/**********************************************************
 * TYPOGRAPHY
 **********************************************************/

@layer base {
	/* KOSUGI MARU REGULAR (logo) */
	@font-face {
		font-family: 'KosugiMaru-Regular';
		src: url('/fonts/KosugiMaru-Regular.ttf') format('truetype');
	}

	/* PALENT (headings) */
	@font-face {
		font-family: 'Palent-Regular';
		src: url('/fonts/PalentRegular.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Palent-Italic';
		src: url('/fonts/PalentItal-Italic.ttf') format('truetype');
	}

	/* ZEN OLD MINCHO */
	@font-face {
		font-family: 'ZenOldMincho-Regular';
		src: url('/fonts/ZenOldMincho-Regular.ttf') format('truetype');
	}
	@font-face {
		font-family: 'ZenOldMincho-Bold';
		src: url('/fonts/ZenOldMincho-Bold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'ZenOldMincho-Black';
		src: url('/fonts/ZenOldMincho-Black.ttf') format('truetype');
	}
}

/**********************************************************
 * COLORS
 **********************************************************/

/* LIGHT WHITE */
.text-light-white {
	color: #f3f3f3;
}
.bg-light-white {
	background-color: #f3f3f3;
}

/* MEDIUM GREY */
.text-medium-grey {
	color: #d0cbbe;
}
.bg-medium-grey {
	background-color: #d0cbbe;
}

/* OLIVE GREEN */
.text-olive-green {
	color: #574a10;
}
.bg-olive-green {
	background-color: #574a10;
}

/* YELLOW */
.text-yellow {
	color: #ffff00;
}
.bg-yellow {
	background-color: #ffff00;
}

/* PEACH */
.text-peach {
	color: #ffd38b;
}
.bg-peach {
	background-color: #ffd38b;
}

/* DARK GREY */
.text-dark-grey {
	color: #494636;
}
.bg-dark-grey {
	background-color: #494636;
}

/* BLACK */
.text-black {
	color: #000000;
}
.bg-black {
	background-color: #000000;
}

/* ORANGE */
.text-orange {
	color: #ff9700;
}
.bg-orange {
	background-color: #ff9700;
}

/**********************************************************
 * GENERAL STYLES
 **********************************************************/

.img-container > img {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
}

.dotted-line {
	position: relative;
	display: block;
	margin: 0 auto; padding: 0;
}
.img-container.dotted-line > img {
	position: relative;
	left: 20%;
	width: 60%;
}

.section {
	position: relative;
	width: 100%; min-height: 200px;
	margin: 0 auto;
	margin-top: 110px; margin-bottom: 120px;
	padding-left: 22.5%;
	padding-right: 22.5%;
}

.section > .vh {
	width: 49%;
	padding-left: 20px; padding-right: 20px;
	float: left;
}

.header {
	font-family: 'Palent-Regular';
}
.sub-header {
	font-family: 'Palent-Italic';
}
.body {
	font-family: 'ZenOldMincho-Regular';
}
ul.body {
	line-height: 23px;
}

.section h1.header {
	font-size: 4em;
	line-height: 59px;
}

.section h5.sub-header {
	font-size: 1.1em;
	line-height: 20px;
}

.long-btn {
	position: relative;
	margin-bottom: 15px;
	width: 340px; height: 35px;
	padding: 3px;
	display: block;
	text-align: center;
	font-size: 1.15em;
	font-family: 'KosugiMaru-Regular';
	color: #574a10;
	border: solid 1px #574a10;
	border-radius: 10px;
	box-shadow: 0px 0px 8px -4px #574a10;
}
.short-btn {
	position: relative;
	margin-bottom: 15px;
	width: 170px; height: 35px;
	padding: 3px;
	display: block;
	text-align: center;
	font-size: 1.15em;
	font-family: 'KosugiMaru-Regular';
	color: #574a10;
	border: solid 1px #574a10;
	border-radius: 10px;
	box-shadow: 0px 0px 8px -4px #574a10;
}
.long-btn:hover,
.short-btn:hover {
	opacity: 0.85;
}

#sugoi {
	position: absolute;
	z-index: -10;
	width: 100%; min-height: calc(100vh);
	background-color: #f4f4f4;
}

/**********************************************************
 * HERO SECTION
 **********************************************************/

/* NAV BAR */
#sugoi #nav-btn {
	position: relative;
	width: 100%; height: 66px;
	padding: 7px;
	margin: 0;
}

/* NAV MENU & PLACEHOLDER IMG */
#sugoi #hero-menu {
	position: relative;
	width: 100%; height: 500px;
	margin-top: 20px;
}

#sugoi #hero-menu .closed {
	display: block;
	width: 100%; height: 500px;
	overflow: hidden;
}

/**********************************************************
 * BY LOGIK SECTION
 **********************************************************/

#bylogik {
	margin-top: 160px;
}

#bylogik h5#location {
	margin-top: 50px;
}

#bylogik h5#details {
	margin-top: 22px;
}

#bylogik > a#mint {
	margin-top: 45px;
}
#bylogik > a#digital-swag {
	margin-bottom: 0;
}

#bylogik #logik-flowers {
	overflow: hidden;
	position: absolute;
	z-index: -1;
	width: 299px; height: 350px;
	top: 240px; left: 580px;
	border: solid 1px #574a10;
	border-bottom-left-radius: 11em;
	border-bottom-right-radius: 8em;
	border-top-left-radius: 10em;
	border-top-right-radius: 9em;
}

/**********************************************************
 * FEATURED ARTISTS SECTION
 **********************************************************/

#artists {
	height: 700px;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,211,139,0.6) 50%, rgba(244,244,244,1) 100%);
}

#artists > h1 {
	margin-bottom: 26px;
}

#artists .long-btn {
	display: inline-block;
	margin: 0 auto;
}
#artists #view-artists.long-btn {
	margin-right: 15px;
}

.alice-carousel {
	/* override */
	margin-top: 90px !important;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
	/* override */
	display: none !important;
}
.caro-card {
	width: 200px;
	height: 300px;
	display: inline-block;
	background-color: #f4f4f4;
	border-radius: 9px;
	border: solid 1px #494637;
}

.caro-card > .img-container {
	position: relative;
	height: 190px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	overflow: hidden;
	/*temporary!*/
	background-color: #494637;
}

.caro-card > h5 {
	margin-top: 14px;
}

.caro-card > p {
	font-size: 0.92em;
}

.caro-card > a {
	position: relative;
	top: 20px;
}
.caro-card > a:hover {
	opacity: 0.9;
}

.caro-card > a:first-of-type {
	margin-right: 16px;
}

/**********************************************************
 * EVENT SCHEDULE SECTION
 **********************************************************/

#events {
	height: 660px;
}

#events h1.header {
	text-align: right;
	margin-bottom: 30px;
}

#events button.short-btn {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
}

#events div.vh:last-of-type {
	position: relative;
	height: 600px;
}

#events h3.event-header {
	margin-top: 25px;
	color: #ff9700;
	font-size: 1.6em;
	font-family: 'Palent-Regular';
}

#events h5.sub-header,
#events p.body {
	color: #494637;
}

#events p.body {
	font-size: 0.8em;
	margin-bottom: 12px;
}

/**********************************************************
 * TICKETS & MERCH SECTION
 **********************************************************/

#tickets {
	height: 670px;
}

#tickets h1.header {
	text-align: right;
	margin-bottom: 30px;
}

#tickets a.long-btn {
	width: 100%;
}

.ticket-container {
	position: relative;
	width: 200px; height: 200px;
	margin-bottom: 100px;
	text-align: center;
}
#frens.ticket-container {
	margin-top: 40px;
}
#plug.ticket-container {
	position: absolute;
	top: 190px;
	right: calc(32% - 200px);
}

.ticket-container p.body {
	line-height: 17px;
	font-size: 0.8em;
	margin-top: 5px;
}













/* @layer components {
	.roadmap-card {
		@apply rounded-xl bg-gray-roadmap-bg w-[250px] h-[250px] m-auto my-6 flex flex-col;
	}
	.roadmap-heading {
		@apply bg-gray-roadmap-heading py-3 rounded-t-xl;
	}
	.roadmap-heading-text {
		@apply text-xl text-yellow-main uppercase font-bold tracking-wide;
	}
	.roadmap-divider {
		@apply w-full h-2 bg-gray-roadmap-divider rounded-b-full;
	}
	.roadmap-content {
		max-width: 200px;
		margin: auto auto;
	}
}


*/